<%include partials/header %>








<div class="container">
  <header class="jumbotron"><h1>Welcome to cliknshare</h1>
 <div class="container">
        <p>the world of new images</p>
         <p>
         <a class="btn btn-primary btn-large" href="/new">add newimage</a>
        </p>
 </div>
 </header>


 <div class="row text-center" style="display:flex;flex-wrap:wrap;">
           <%imgs.forEach(function(data){%>

       <div class="col-md-3 col-sm-6">
     
             <div class="thumbnail">
                  <img src="<%=data.url%>" 
                  
                      <h4><%=data.name%> <h4>
                        <div> 
               <p><a href="/dash/<%=data._id%>" class="btn btn-primary">Info</a></p>
             </div>
                 
             </div>
             
     
        </div> 
  
 <% } )%>

</div>
<a href="/home">home</a>

</div>
<% include partials/footer %>