<%include partials/header %>


<div class="container">
	<div class="row">
	<h1 style="text-align:center;">Edit Image Detail</h1>
	<div style="width:30% ;margin:0 auto;">
<form action="/dash/<%=info._id%>?_method=PUT" method="POST">
	<div class="form-group">
		<input class="form-control" type="text" name="name" value="<%=info.name%>">
		</div>
	<div class="form-group">
		<input class="form-control" type="text" name="image" value="<%=info.url%>">
		</div>
		
			<div class="form-group">
		<textarea class="form-control" type="text" name="about" value=""><%=info.about%></textarea>
		</div>
	
	<div class="form-group">	
	<button class="btn btn-lg btn-default btn-primary">Submit</button>
	</div>
	
<a href="/dashboard">go to dash board</a>	

</form>
</div>
</div>
</div>
<% include partials/footer %>