<%include partials/header %>


<div class="container">
	<div class="row">
	<h1 style="text-align:center;">New Image</h1>
	<div style="width:30% ;margin:0 auto;">
<form action="/dashboard" method="POST">
	<div class="form-group">
		<input class="form-control" type="text" name="name" placeholder="name">
		</div>
	<div class="form-group">
		<input class="form-control" type="text" name="image" placeholder="image url">
		</div>
		
			<div class="form-group">
		<input class="form-control" type="text" name="about" placeholder="Descriptin">
		</div>
	
	<div class="form-group">	
	<button class="btn btn-lg btn-default btn-primary">Submit</button>
	</div>
	
<a href="/dashboard">go to dash board</a>	

</form>
</div>
</div>
</div>
<% include partials/footer %>