<%include partials/header %>

<div class="container">
<h1>This is the description of image </h1>
<div class="container">
   <div class="thumbnail">
<h2><%=info.name%></h2>
 <img src="<%=info.url%>" >
</div>
<h3><%=info.about%></h3>


<form  action="/dash/<%=info._id%>/edit">>

	<button class="btn ">
		Edit
	
	</button>
</form>


<form method="POST" action=" /dash/<%=info._id%>?_method=DELETE">
	
	<button class="btn">
		Delete
	
	</button>
</form>



</div>
</div>

<% include partials/footer %>
